// Colors
$clr-dark: #130754;
$clr-light: #3b2f80;
$clr-light-1: #626262;
$clr-light-1-hover: #b1aeae;
$clr-light-2: #ebfffc;


//Sizes
$arrow-btn-size: 48px;
$arrow-btn-small-size: 33px;
$card-carousel-height: 345px;
$details-carousel-height: 420px;
$details-carousel-height-mobile: 260px;
$details-carousel-width: 700px;

// Breakpoints
$xs-mobile-breakpoint: 300px;
$mobile-breakpoint: 600px;
$extraNarrow-breakpoint: 700px;
$narrow-breakpoint: 800px;
$wideNormal-breakpoint: 1075px;
$normal-breakpoint: 1155px;
$large-breakpoint: 1370px;
$xl-breakpoint: 1410px;
$xxl-breakpoint: 1640px;