.weather-container {
    width: rem(607px);
    height: rem(829px); 
    border-radius: rem(12px);
    background-image: linear-gradient(180deg, $clr-dark 0%, $clr-light 100%);
  
    margin: auto;
    margin-block-start: rem(75px);

    .top-bar {
        display: flex;
        gap: rem(14px);
        justify-content: center;
        padding-block-start: rem(60px);

        input {
            display: flex;
            font-size: rem(20px);
            font-weight: 400;

            width: rem(362px);
            height: rem(78px);
            padding-inline-start: rem(40px);
            border: none;
            border-radius: rem(40px);
            outline: none;
            
            color: $clr-light-1;
            background: $clr-light-2;
        }

        .search-icon {
            display: flex;
            justify-content: center;
            align-items: center;
    
            width: rem(78px);
            height: rem(78px);
            border-radius: rem(40px);
            
            background: $clr-light-2;
            cursor: pointer;
        }
    }

    .weather-img {
        display: flex;
        justify-content: center;
        margin-block-start: rem(29px);
    }
    .weather-temp {
        display: flex;
        justify-content: center;

        font-weight: 400;
        font-size: rem(120px);
        color: $clr-light-2;
    }
    .weather-location {
        display: flex;
        justify-content: center;
        
        font-weight: 400;
        font-size: rem(60px);
        color: $clr-light-2;
    }

    .data-container {
        display: flex;
        justify-content: center;

        margin-block-start: rem(50px);
        color: $clr-light-2;

        .element {
            margin: auto;
            display: flex;
            gap: rem(12px);
            align-items: flex-start;
           
            .icon {
                margin-block-start: rem(10px);
            }

            .data {
                font-size: rem(34px);
                font-weight: 400;

                .text {
                    font-size: rem(20px);
                    font-weight: 400;
                }
            }
        }
    }
}